# Exploratory Analysis

In [45]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [46]:
import pandas as pd

In [47]:
import os
os.getcwd()

'/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science/01-Project-Setup/03-Exploratory-Analysis'

In [48]:
import sys; sys.path

['/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science/01-Project-Setup/03-Exploratory-Analysis',
 '/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science',
 '/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science/01-Project-Setup/03-Exploratory-Analysis',
 '/Users/kenzaelhoussaini/.pyenv/versions/3.8.6/lib/python38.zip',
 '/Users/kenzaelhoussaini/.pyenv/versions/3.8.6/lib/python3.8',
 '/Users/kenzaelhoussaini/.pyenv/versions/3.8.6/lib/python3.8/lib-dynload',
 '',
 '/Users/kenzaelhoussaini/.pyenv/versions/3.8.6/lib/python3.8/site-packages',
 '/Users/kenzaelhoussaini/.pyenv/versions/3.8.6/lib/python3.8/site-packages/IPython/extensions',
 '/Users/kenzaelhoussaini/.ipython',
 '/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science']

In [49]:
pathh = os.path.dirname(os.path.dirname(os.getcwd()))
sys.path.append(pathh)

In [50]:
from olist.data import Olist
data = Olist().get_data()

### 1 - Run an exploratory analysis with [pandas profiling](https://github.com/pandas-profiling/pandas-profiling)

In [51]:
# First, let's install the pandas-profiling package
#! pip install pandas-profiling

# And create a new "04-Decision-Science/reports" folder 
!mkdir -p ../../data/reports

In [53]:
import pandas_profiling
datasets_to_profile = ['orders', 'products', 'sellers',
                  'customers', 'order_reviews',
                  'order_items']
len(datasets_to_profile)

6

In [54]:
# YOUR CODE: Create and save one html report per dataset to profile (it takes some time to run!)
pathh = os.path.dirname(os.path.dirname(os.getcwd()))
print(pathh)
reports_path = os.path.join(pathh, "data", "reports")
reports_path

/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science

'/Users/kenzaelhoussaini/code/kelhoussaini/data-challenges/04-Decision-Science/data/reports'

In [55]:

for i in datasets_to_profile:
    file_html = data[i].to_html()
    
    # write html to file
    text_file = open(str(reports_path) + "/"+ i +".html", "w")
    text_file.write(file_html)
    text_file.close()
    
    #quizFile = open("quizFile" +str(filenum+1) + ".txt", "w")

Take 10 min to read the reports, and feel free to add insights of your choice to your db.lewagon.org schema

### 2 - Create a matching table

Looking at our schema, it would be best to create a central `matching_table` that will join the most important foreign keys together, for later use

‚ùìCreate the `matching_table`, a DataFrame with the following columns (below).  
Use outer joins to make sure you don't lose any information at this stage.

In [56]:
columns_matching_table = [
    "order_id",
    "review_id",
    "customer_id",
    "product_id",
    "seller_id",
]

In [59]:
# intermediate cells to show the dataframe columns
frame1 = data['orders']
print(frame1.columns, "*************", frame1.shape)
frame1.head(1)

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object') ************* (99441, 8)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00

In [60]:
# intermediate cells to show the dataframe columns
frame2 = data['order_reviews']
print(frame2.columns, "*************", frame2.shape)
frame2.head(1)

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object') ************* (100000, 7)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59

In [62]:
for i in datasets_to_profile:
    print(i, data[i].columns)
    print("**")

orders Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')
**
products Index(['product_id', 'product_category_name', 'product_name_lenght',
       'product_description_lenght', 'product_photos_qty', 'product_weight_g',
       'product_length_cm', 'product_height_cm', 'product_width_cm'],
      dtype='object')
**
sellers Index(['seller_id', 'seller_zip_code_prefix', 'seller_city', 'seller_state'], dtype='object')
**
customers Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')
**
order_reviews Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')
**
order_items Index(['order_id', 'order_item_id', 'product_id', 'seller_id',
       'shipping_limit_date', 'price', 'freight_value'],
      dtype='object')
**

In [ ]:
dic_t = {}
matchine_table = pd.DataFrame(dic_t)

In [36]:
frame1.head(3)
frame1.shape

(99441, 8)

In [44]:
merge_1_2 = frame1.merge(frame2, on='order_id', how='outer')
merge_1_2.shape

(100000, 14)

In [63]:
# Select only the columns of interest in the various dataframes of interest, before proceeding to any merge
orders = data['orders'][['customer_id', 'order_id']]
reviews = data['order_reviews'][['order_id', 'review_id']]
items = data['order_items'][['order_id', 'product_id','seller_id']]

In [64]:
# Inspect the cardinality of each DataFrame using pd.DataFrame.shape and pd.Series.nunique()
print('orders:', orders.shape, orders.customer_id.nunique(), 'unique customer_ids, and', orders.order_id.nunique(), 'unique order_ids')
print('review: ', reviews.shape, reviews.order_id.nunique(), 'unique order_ids and', reviews.review_id.nunique(), 'unique reviews' )
print('items: ', items.shape, items.order_id.nunique(), 'unique order_ids,', items.product_id.nunique(), 
      'unique product_ids, and', items.seller_id.nunique(), 'unique seller_ids')

orders: (99441, 2) 99441 unique customer_ids, and 99441 unique order_ids
review:  (100000, 2) 99441 unique order_ids and 99173 unique reviews
items:  (112650, 3) 98666 unique order_ids, 32951 unique product_ids, and 3095 unique seller_ids

In [65]:
# Carefully merge DataFrames
matching_table = orders.merge(reviews, on='order_id', how='outer').merge(items, on='order_id', how='outer')
matching_table

,customer_id,order_id,review_id,product_id,seller_id
0,9ef432eb6251297304e76186b10a928d,e481f51cbdc54678b7cc49136f2d6af7,a54f0611adc9ed256b57ede6b6eb5114,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9
1,b0830fb4747a6c6d20dea0b8c802d7ef,53cdb2fc8bc7dce0b6741e2150273451,8d5266042046a06655c8db133d120ba5,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962
2,41ce2a54c0b03bf3443c3d931a367089,47770eb9100c2d0c44946d9cf07ec65d,e73b67b67587f7644d5bd1a52deb1b01,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2
3,f88197465ea7920adcdbec7375364d82,949d5b44dbf5de918fe9c16f97b45f8a,359d03e676b3c069f62cadba8dd3f6e8,d0b61bfb1de832b15ba9d266ca96e5b0,66922902710d126a0e7d26b0e3805106
4,8ab97904e6daea8866dbdbc4fb7aad2c,ad21c59c0840e6cb83a9ceb5573f8159,e50934924e227544ba8246aeb3770dd4,65266b2da20d04dbe00c5c2d3bb7859e,2c9e548be18521d1c43cde1c582c6de8
...,...,...,...,...,...
114095,1fca14ff2861355f6e5f14306ff977a7,63943bddc261676b46f01ca7ac2f7bd8,29bb71b2760d0f876dfa178a76bc4734,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554
114096,1aa71eb042121263aafbe80c1b562c9c,83c1379a015df1e13d02aae0204711ab,371579771219f6db2d830d50805977bb,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48
114097,b331b74b18dc79bcdf6532d51e1637c1,11c177c8e97725db2631073c19f07b62,8ab6855b9fe9b812cd03a480a25058a1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48
114098,b331b74b18dc79bcdf6532d51e1637c1,11c177c8e97725db2631073c19f07b62,8ab6855b9fe9b812cd03a480a25058a1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48
114099,edb027a75a1449115f6b43211ae02a24,66dea50a8b16d9b4dee7af250b4be1a5,dc9c59b4688062c25758c2be4cafc523,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b

In [66]:
# Inspect the cardinality and `nunique` of the final DataFrame. It should match (114100, 5)
print(matching_table.shape)
print('unique values: ')
print(matching_table.nunique())

(114100, 5)
unique values:
customer_id    99441
order_id       99441
review_id      99173
product_id     32951
seller_id       3095
dtype: int64

### 3 - Save your logic in `data.py` 

‚ùìCopy your logic into `get_matching_table()` in `data.py` and run the cell below to check your code!

In [ ]:
from nbresult import ChallengeResult
from olist.data import Olist

data = Olist().get_matching_table()

result = ChallengeResult('matching_table',
    shape=data.shape,
    columns=sorted(list(data.columns)) 
)
result.write()
print(result.check())